<h2><%= @website.name %></h2>
<p><%= link_to @website.url, @website.url %></p>
<p><%= link_to @website.site_map, @website.site_map.url %></p>
<p>Please wait for the pages to be captured, this will take a little while.</p>
