// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
   


.block-grid.two-up>li:nth-child(2n+1) {clear: left;} 

.block-grid.three-up>li:nth-child(3n+1) {clear: left;}

.block-grid.four-up>li:nth-child(4n+1) {clear: left;}

.block-grid.five-up>li:nth-child(5n+1) {clear: left;}