

.block-grid.two-up>li:nth-child(2n+1) {clear: left;} 

.block-grid.three-up>li:nth-child(3n+1) {clear: left;}

.block-grid.four-up>li:nth-child(4n+1) {clear: left;}

.block-grid.five-up>li:nth-child(5n+1) {clear: left;}